*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #canvas{
    height: 100vh;
    border: 1px solid red;
    position: relative;
}

.create-div{
    position: absolute;
    border: 1px solid red;
    width: 6px;
    height: 6px;
    margin-left: -3px ;
    margin-top: -3px;
    border-radius: 50%;
    background-color: black;
} */

#canvas{
    /* height: 100vh;
    width: 100vw; */
    /* border: 1px solid red; */
    display: block;
}

